{
  "presets": ["next/babel"],
  "plugins": [
    [
      "babel-plugin-styled-components", // ssr 환경에서 클라이언트와 서버단 스타일드컴포넌트 클래스명 통일을 위한 플러그인
      {
        "ssr": true, // SSR
        "displayName": true, // 클래스명에 컴포넌트 이름 adding
        "pure": true // 사용되지 않는 속성 제거
      }
    ]
  ]
}
